.autocomplete-items {
    position: fixed; /* Relative to viewport */
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99999; /* Highest possible */
    background-color: #fff;
    max-height: 200px;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff; 
    border-bottom: 1px solid #d4d4d4; 
}

.autocomplete-items div:hover {
    background-color: #e9e9e9; 
}

.autocomplete-active {
    background-color: DodgerBlue !important; 
    color: #ffffff; 
}
