[package]
name = "common"
version = "0.1.0"
edition = "2024"

[dependencies]
axum = { workspace = true }
clap = { workspace = true }
database = { workspace = true }
serde = { workspace = true }
tower-sessions = { workspace = true }
tracing = { workspace = true }
sqlx = { workspace = true }
